In [ ]:
#2
n = int(input('Son kiriting:'))
#0 <= i < n
#i*2
my_list = list(range(n))
for i in my_list:
    if  0 <= i < n:
        power_son = i**2
        print(power_son)

In [ ]:
##HOMEWORK
#2
n = int(input('Son kiriting:'))
#0 <= i < n
#i*2
my_list = list(range(n))
for i in my_list:
    if  0 <= i < n:
        power_son = i**2
        print(power_son)

In [ ]:
#3
my_list = [1,2,3,4,5]
for j in my_list:
    # if j == 1:
    #     print(j)
    #elif j ==2 :
    list_2 = list(range(1,j+1))
    # print(list_2)
    str_list = [str(num) for num in list_2]
    # print(str_list)
    print(' '.join(str_list))

In [ ]:
#3
n = 1
while n <= 10:
    print('Natural son 10 gacha:', n)
    n +=1
#else: 
    #print('shart notori berilgan')

In [1]:
#Calculate sum of all numbers from 1 to a given number

n = int(input())
sum_num = (n * (n+1))/2
print(sum_num)

55.0

In [4]:
#Print multiplication table of a given number
num = int(input("Son kiriting: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [11]:
#3
numbers = [12, 75, 150, 180, 145, 525, 50]

for num in [75,150,145]:
        print(num)

75
150
145

In [12]:
#3
num = int(input("Son kiriting: "))
count = len(str(abs(num)))
print("Raqamlar soni:", count)

Raqamlar soni: 5

In [13]:
#3 Print reverse number pattern
n = int(input("Son kiriting: "))

for i in range(n, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [14]:
#3
list1 = [10, 20, 30, 40, 50]
print(list1[::-1])

[50, 40, 30, 20, 10]

In [ ]:
#3
list1 = [10, 20, 30, 40, 50]
for i in range(len(list1) - 1, -1, -1):
    print(list1[i])

50
40
30
20
10

In [17]:
#3
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [18]:
#3
for i in range(5):
    print(i)
else:
    print("Done")

0
1
2
3
4
Done

In [ ]:
#3
start = int(input("Boshlangich son kiriting: "))
end = int(input("Oxirgi son kiriting: "))

for num in range(start, end + 1):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)

In [21]:
#3
n = 10 
a, b = 0, 1

for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

In [ ]:
#3
num = int(input("Введите число: "))
factorial = 1

if num < 0:
    print("Факториал отрицательного числа не существует.")
else:
    for i in range(1, num + 1):
        factorial *= i
    print("Факториал числа", num, "равен", factorial)

In [22]:
#4
list1 = [1, 1, 2]
list2 = [2, 3, 4]

set1 = set(list1)
set2 = set(list2)

uncommon = list((set1 - set2) | (set2 - set1))
print("Uncommon elements:", uncommon)

Uncommon elements: [1, 3, 4]