## Lists and Tuples

list is a Python data type that stores one or many elements

lists are mutable - it means that we can change the elements of a list

strings are immutable 

you can store any data type in a list(int, str, dictionaries, set, tuple.....)

lists are iterable


iterable - har bitta elementiga alohida bog'lansak(chaqirib olsak) bo'ladi

strings are also iterable

int is not iterable

In [105]:
#       0123
name = 'John'


name[1]

name[-1]

name[-1] = 'sdfgd'

TypeError: 'str' object does not support item assignment

In [ ]:
population = [8,235,435,345]

population[3]

TypeError: 'int' object is not subscriptable

#### Creating a list

In [ ]:
my_list = []

#empty

my_list

[]

In [7]:
my_list = list()

my_list

[]

In [9]:
my_list = [14, 2435, 'sdsdg', ('sfsd', 'wdfsdf')]

my_list

[14, 2435, 'sdsdg', ('sfsd', 'wdfsdf')]

In [13]:
# strings are iterable

my_list = list('hello')

my_list

['h', 'e', 'l', 'l', 'o']

In [14]:
my_list = list([2345,2452,2345,234524])

my_list

[2345, 2452, 2345, 234524]

### List Methods

In [ ]:
my_list = []

dir(my_list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [18]:
my_list = list('hello world')

my_list

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
# count
my_list = ['aa', 'ab', 'ab', 'ad', 'fb', 'gb']


my_list.count('l')

my_list.count('o')


my_list.count('aa')

# my_list.count()

TypeError: list.count() takes exactly one argument (0 given)

### Index

In [ ]:

my_list = ['aa', 'ab', 'ab', 'fb', 'gb', 'ab'] 

my_list.index('aa')

# print(my_list.index('ab'))


# print(my_list.index('ab'))

my_list.index('aa')

my_list.index('asdfasdf')

ValueError: 'asdfasdf' is not in list

In [ ]:
#          0 1 2 3 4 5 6 
my_list = [1,2,3,4,5,6,1]

my_list.index(2)

my_list.index(1)

0

### Reverse

In [ ]:
my_list = ['a', 'g', 'd', 'b', 'f']

my_list.reverse()

print(my_list)

None
['f', 'b', 'd', 'g', 'a']

### Append

add the given element to the end of the list

In [43]:
my_list = [12, 18, 20, 35, 50]

my_list.append(67)

my_list

[12, 18, 20, 35, 50, 67]

In [53]:
my_list = []
my_list.append('Salom')

my_list

['Salom']

In [55]:
len(my_list)

my_list

['Salom']

### Insert

add the element we gave to the index we provided

In [56]:
my_list.insert(0,'Hello')

my_list

['Hello', 'Salom']

In [60]:
my_list.insert(15,'sdfjaksdfasdfh')

my_list

['Hello', 'World', 'World', 'sdfasdfd', 'Salom', 'sdfjaksdfasdfh']

In [65]:
my_list


my_list.insert(len(my_list),'Dunyo')

In [66]:
my_list

['Hello',
 'World',
 'World',
 'sdfasdfd',
 'Salom',
 'Dunyo',
 'sdfjaksdfasdfh',
 'Dunyo']

### Extend
adds iterable to a list

In [70]:
my_list = [2, 3, 5]

In [71]:
other_list = [7, 11, 13]

In [ ]:
my_list.extend(other_list)
my_list

[2, 3, 5, 7, 11, 13]

In [76]:
# lists can store any data type

# nested list
my_list = [2, 3, 5]

other_list = [7, 11, 13]

my_list.append(100)

my_list

[2, 3, 5, 100]

In [77]:
my_list.extend(100)
my_list

TypeError: 'int' object is not iterable

In [94]:
my_list = [2, 3, 5]

other_list = [7, 11, 13]
# augmented assignment

my_list += other_list
#my_list = my_list +  other_list


my_list

[2, 3, 5, 7, 11, 13]

In [ ]:
my_list = [12123,13241,34]

other_list = [245,2,4525]

# my_list += other_list

name = 'john'

last_name = 'Wick'

#'hello '+ name + ' ' + last_name

print(f'hello {name.capitalize()} {last_name.capitalize()}!')

hello John Wick!

### Accessing elements and slicing

you can access any element of a list by giving the index of the element you want in square brackets

In [101]:
#          0  1  2  3  4   5   6
my_list = [2, 3, 5, 7, 11, 13, 17]

my_list[3]

my_list[-1]


my_list[1:]

# [start:end]
# [:end] starts from the beginning
# [start:] untill the end
my_list[:-3]


my_list[-6:]

my_list[15]

IndexError: list index out of range

### Change Elements of a list

In [ ]:
my_list
#lists are mutable

# string are immutable
# immutable objects is an object that you can't change its value after creating
# mutable - it is editable any time

[2, 3, 5, 7, 11, 13, 17]

In [108]:
my_list

my_list[3] = 90

my_list[-1] = 10

my_list

my_list[1] = 'Salom'


my_list

[2, 'Salom', 5, 90, 11, 13, 10]

### Clear

deletes evething from the list

In [115]:
my_list

my_list.clear()

my_list

my_list = []

my_list

[]

### Pop

deletes the element in the given index and returns the deleted value

In [126]:

my_list = [2, 4, 6, 8, 10, 12]

#my_list.pop(1)

#del_elem = my_list.pop(1)

my_list.pop(-17)

IndexError: pop index out of range

In [120]:
my_list

my_list.pop()

12

### Remove
deletes the element you provided

In [ ]:
my_list
# my_list.remove(6)

my_list

my_list.remove(10)

my_list

[2, 4, 8, 12]

### Sort
orders the element in the given order

In [142]:
my_list = [8, 4, 6, 2, 12, 10]
my_list.sort(reverse=True)


my_list

[12, 10, 8, 6, 4, 2]

In [146]:
my_list = [8, 4, 6, 2, 12, 10]

sorted(my_list, reverse=True)

sorted_list = sorted(my_list)

sorted_list

[2, 4, 6, 8, 10, 12]

### Copying Lists
copy one list to another

In [151]:
my_list = [1,3, 5, 7]
my_list[0] = 5
new_list = my_list.copy()

new_list

[5, 3, 5, 7]

In [153]:
my_list = [1, 3, 5, 7]

new_list = my_list

new_list

[1, 3, 5, 7]

### Homework Lesson 3

In [2]:
#1 
fruits = ["apple", "banana", "cherry", "mango", "kiwi"]
print("Third fruit:", fruits[2])

Third fruit: cherry

In [3]:
#2
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined = list1 + list2
print("Concatenated list:", combined)

Concatenated list: [1, 2, 3, 4, 5, 6]

In [ ]:
#3
numbers = [10, 20, 30, 40, 50]
middle30 = len(numbers) // 2
new_list = [numbers[0], numbers[middle_index], numbers[-1]]
print("Extracted elements:", new_list)

Extracted elements: [10, 30, 50]

In [8]:
#4
movies = ["Pulp Fiction", "Interstellar", "Jango", "The Hateful Eight", "The Godfather"]
movies_tuple = tuple(movies)
print("Tuple of movies:", movies_tuple)

Tuple of movies: ('Pulp Fiction', 'Interstellar', 'Jango', 'The Hateful Eight', 'The Godfather')

In [9]:
#5
cities = ["Moscow", "London", "Paris", "Tashkent"]
is_paris = "Paris" in cities
print("Is Paris in the list?", is_paris)

Is Paris in the list? True

In [10]:
#6
numbers = [1, 2, 3]
duplicated = numbers * 2
print("Duplicated list:", duplicated)

Duplicated list: [1, 2, 3, 1, 2, 3]

In [12]:
#7
nums = [1, 2, 3, 4]
nums[0], nums[-1] = nums[-1], nums[0]
print("Swapped list:", nums)

Swapped list: [4, 2, 3, 1]

In [13]:
#8
t = tuple(range(1, 11))
print("Slice from index 3 to 7:", t[3:8])

Slice from index 3 to 7: (4, 5, 6, 7, 8)

In [14]:
#9
colors = ["blue", "green", "blue", "red", "blue"]
count = colors.count("blue")
print("Blue appears", count, "times")

Blue appears 3 times

In [15]:
#10
animals = ("cat", "dog", "lion", "tiger")
index = animals.index("lion")
print("Index of lion:", index)

Index of lion: 2

In [16]:
#11
t1 = (1, 2, 3)
t2 = (4, 5, 6)
merged = t1 + t2
print("Merged tuple:", merged)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [17]:
#12
l = [10, 20, 30]
t = (40, 50, 60, 70)
print("Length of list:", len(l))
print("Length of tuple:", len(t))

Length of list: 3
Length of tuple: 4

In [18]:
#13
t = (5, 10, 15, 20, 25)
converted = list(t)
print("Converted list:", converted)

Converted list: [5, 10, 15, 20, 25]

In [20]:
#14
nums = (4, 8, 1, 10, 3)
print("Max", max(nums))
print("Min", min(nums))

Max 10
Min 1

In [21]:
#15
words = ("apple", "banana", "cherry")
reversed_tuple = words[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: ('cherry', 'banana', 'apple')